@media (max-width: 1200px) {
    .promo{        
        .header {
            padding-left: 30px;
            padding-right: 30px;
        }
        &__wrapper {
            padding-right: 30px;
        }             
        &__header {
            font-size: 38px;    
        }    
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            width: 400px;
        }
        .button_main {
            width: 270px;
        }
        }    
}	
@media (max-width: 991px) {
    .advantages__wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }    
}
@media (max-width: 991px) {	    
    .feed {
        &__item {
            margin-left: 40px;
        }    
    .feed__img {
        width: 150px;
        height: 150px;
    }
    }
}
@media (max-width: 767px) {
    .promo{        
        .header {
            padding-left: 10px;
            padding-right: 10px;
        }
        .header__logo {
            width: 200px;
        }
        .header__official {
            font-size: 11px;
            span 
                {font-size:15px;}            
        }
        .header__phone {
            font-size: 15px;
        }
        .button {
            width: 135px;
            &_main {
                font-size: 12px;    
            }    
        }
        .promo__wrapper {
            padding-right: 10px;
        }             
        .promo__header {
            font-size: 30px;    
        }    
        .promo__subheader {
            font-size: 16px;
        }
        .promo__icons {
            width: 320px;
        }
        .promo__icon {            
            font-size: 12px;                
            img {                
                width: 30%;                
            }            
        }                          
}
}
@media (max-width: 991px) {
    .consultation {
        &__descr {
            padding-left: 40px;
        }
        .feed-form {
            padding-left: 40px;
        }
        .title {
            padding-left: 40px;
        }
    }
}
@media (max-width: 767px) {
    .consultation {
        &__descr {
            padding-left: 40px;
        }
        .feed-form {
            padding-left: 40px;
        }
        .title {
            padding-left: 40px;
        }
    }
}
@media (max-width: 767px) {
    .advantages__wrapper {
        flex-direction: column;
        align-items: center; 
    }
    .advantages__subtitle {
        font-size: 28px;
    }
    .advantages__item {
        margin-top: 20px;
        max-width: 400px;
        font-size: 20px;
    } 
}
@media (max-width: 575px) {
    .promo {
        .header {
            height: 180px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;            
            &__logo {
                width: 220px;
            }
            &__official {
                font-size: 10px;
                line-height: 15px;
                span {
                    font-size: 13px;
                }
            }
        }
        .promo__wrapper {
            margin-top: 40px;             
        .promo__header {        
                font-size: 19px;
                margin: 0 auto;    
            }
        .promo__subheader {
                font-size: 12px;
                margin: 0 auto;
            }
        .promo__icons {
                justify-content: center;
                margin: 30px auto;       
            }
        }
    }
}
@media (max-width: 575px) {
    .advantages {
        .title {
            font-size: 25px;
        }
    }
    .consultation {
        &__descr {
            padding-left: 40px;
        }
        .feed-form {
            padding-left: 40px;
        }
        .title {
            padding-left: 40px;
            font-size: 28px;
            line-height: 45px;
        }
    }
}
@media (max-width: 575px) {
    .feed {
        margin-left: 0;
        .title {
            margin-top: 20px;           
        }
        &__item {            
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 0;  
            
        }
    .feed__text {
        margin-top: 35px;
        text-align: center; 
        margin-left: 20px;
        padding-right: 20px;
    }           
        }            
    .feed__img {        
        width: 169px;
        height: 169px;
    }
    .feed__item:nth-child(2) {
        margin-top: 50px;
    }
}
@media (max-width: 991px) {
    .catalog {
        .title {
            margin-top: 20px;
            font-size: 30px;
        }
        .catalog__tab {
            font-size: 14px;
            width: 190px;
        }
        .catalog__content {            
            display: flex;
            justify-content: space-around;
        }
    }
}    
@media (max-width: 767px) {
    .catalog {
        .title {
            margin-top: 20px;
            font-size: 25px;
        }
        .catalog__tab {
            font-size: 14px;
            width: 150px;
        }
    }
}
@media (max-width: 575px) {
    .catalog {
    .catalog__tabs {
        flex-direction: column;
        align-items: center;
    }    
    .catalog__tab {    
        font-size: 12px;
        width: 120px;
        margin-top: 20px;
        }
    }
}    
@media (max-width: 767px) {
    .footer {
    .footer__info {
        width: 420px;
        height: 230px;            
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        }
    .footer__addr {
        font-size: 18px;
        line-height: 10px;
    }
    .footer__phone {
        font-size: 18px;
        line-height: 10px;
    }
    .footer__social {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
    }       
    }    
}
@media (max-width: 575px) {
    .footer {
        .footer__info {
            width: 100%;
            height: 230px;            
            padding-top: 20px;
            padding-bottom: 30px;
            padding-left: 30px;
            padding-right: 30px;
            }
        .footer__addr {
            font-size: 20px;
            line-height: 30px;
        }
        .footer__phone {
            font-size: 20px;
            line-height: 10px;
        }
        .footer__social {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
        }       
        }    
}
@media (max-width: 575px) {
    .overlay {
    .modal {        
        left: 24%;
        width: 310px;
        padding: 25px 15px 25px 15px;
    }
    .modal__close {
        right: -30px;
    }
    .feed-form {
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        width: 280px;
    }
    .modal__subtitle {        
        font-size: 17px;
    }
    .modal__descr {        
        font-size: 13px;    
    }
}
}    