@media (max-width: 1200px) {
    .promo{        
        .header {
            padding-left: 30px;
            padding-right: 30px;
        }
        .promo__wrapper {
            padding-right: 30px;
        }             
        .promo__header {
            font-size: 38px;    
        }    
        .promo__subheader {
            font-size: 20px;
        }
        .promo__icons {
            width: 400px;
        }
        .button_main {
            width: 270px;
        }
        }    
}	
@media (max-width: 991px) {
    .advantages__wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}	
@media (max-width: 767px) {
    .promo{        
        .header {
            padding-left: 10px;
            padding-right: 10px;
        }
        .header__logo {
            width: 200px;
        }
        .header__official {
            font-size: 11px;
            span 
                {font-size:15px;}            
        }
        .header__phone {
            font-size: 15px;
        }
        .button {
            width: 135px;
            &_main {
                font-size: 12px;    
            }    
        }
        .promo__wrapper {
            padding-right: 10px;
        }             
        .promo__header {
            font-size: 30px;    
        }    
        .promo__subheader {
            font-size: 16px;
        }
        .promo__icons {
            width: 320px;
        }
        .promo__icon {            
            font-size: 12px;                
            img {                
                width: 30%;                
            }            
        }                   
}
}
@media (max-width: 767px) {
    .advantages__wrapper {
        flex-direction: column;
        align-items: center; 
    }
    .advantages__subtitle {
        font-size: 28px;
    }
    .advantages__item {
        margin-top: 20px;
        max-width: 400px;
        font-size: 20px;
    } 
}
@media (max-width: 575px) {
    .promo {
    .header {
        height: 180px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;      
    }
    .promo__wrapper {
        margin-top: 40px;
    } 
    .header__logo {
        width: 220px;
    }
    .header__official {
        font-size: 10px;
        line-height: 15px;
        span {
            font-size: 13px;
        }
    }
    .promo__header {        
        font-size: 22px;
        margin: 0 auto;    
    }
    .promo__subheader {
        font-size: 12px;
        margin: 0 auto;
    }
    .promo__icons {
        justify-content: center;
        margin-top: 40px;        
    }  
    }
}
@media (max-width: 575px) {
    .advantages {
        .title {
            font-size: 25px;
        }
    }
}